@import './variables.css';

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: #696969;
    color: #000000;
    font-size: 1.5rem;
}

h1,
p {
    margin: 0;
}

.container {
    max-width: 800px;
    margin: var(--space-5) auto;
    padding: var(--space-3);
}

.card {
    background: var(--clr-bg-card);
    border-radius: var(--radius-1);
    padding: var(--space-5);
    box-shadow: var(--shadow-card);
    color: var(--clr-text);
}

.sub-header {
    padding-bottom: calc(var(--space-2));
    border-bottom: 0.01rem solid var(--clr-border);
    color: var(--clr-secondary);
}

.input,
.select,
.button {
    width: 100%;
    margin: var(--space-1) 0;
    padding: 0.6rem 0.8rem;
    border: var(--border-1) solid var(--clr-border-input);
    border-radius: var(--radius-2);
    background-color: transparent;
    font-size: var(--font-1);
    background-color: inherit;
}

.input:focus,
.select:focus {
    outline: none;
    border-color: var(--focus-border);
    box-shadow: var(--focus-border-shadow);
    background-color: var(--clr-bg-card);
}

input[type=checkbox] {
    accent-color: var(--clr-primary);
}

.button {
    cursor: pointer;
    text-align: center;
    user-select: none;
    border-color: var(--focus-border);
    background-color: var(--clr-primary);
    color: var(--clr-bg-card);
}

/* .button:hover {
  outline: none;
  border-color: var(--focus-border);
  box-shadow: var(--focus-border-shadow);
} */

.button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
    background-color: var(--clr-primary);
    color: var(--clr-bg-card);
}

.list {
    padding-left: 0;
    margin-top: var(--space-3);
    list-style: none;
}

.item {
    display: flex;
    align-items: center;
    gap: 0.6rem;
    padding: 0.6rem 0.5rem;
    border-bottom: 1px dashed var(--clr-border-input);
}

.title {
    display: inline-block;
    white-space: normal;
    overflow-wrap: anywhere;
}

.badge {
    font-size: var(--font-3);
    padding: 0.2rem 0.5rem;
    border-radius: var(--radius-3);
    border: var(--border-1) solid var(--clr-border-input);
}

.delete-btn {
    margin-left: auto;
    color: var(--clr-red);
    border: var(--border-1) solid var(--clr-red);
    ;
    border-radius: var(--radius-3);
    padding: 0.2rem 0.5rem;
    cursor: pointer;
    font-size: var(--font-2);
}

.strikeThrough {
    text-decoration: line-through;
}

.warning-text {
    margin-bottom: var(--space-3);
    font-size: var(--font-2);
    color: var(--clr-secondary);
}

.margin-top {
    margin-top: var(--space-4);
}

.width-25 {
    width: 25%;
}

/* media query */
@media screen and (max-width: 480px) {
    body {
        font-size: 1.2rem;
    }

    .width-25 {
        width: 100%;
    }
}